# Annotator Agreement Calculations

In [1]:
import pandas as pd
from nltk import agreement

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("annotated_combined.csv")
df_off = pd.read_csv("annotated_offensive_combined.csv")

display(df.head(2))
display(df_off.head(2))

,id,text,source,category,kristoffer,vilde,sondre,mathias
0,1226100821122834432,"Det fører til en mer sivilisert debatt, når ma...",tw,1,1,1,1,1
1,11442,Navn Navn Navn en smule TDS på gang eller?,fb,1,1,1,1,2

,id,text,source,category,sondre,mathias,vilde,kristoffer
0,10667,De er helt ute og kjøre dette partiet Når ett ...,fb,2,1,3,2,2
1,10817,Knall ein biff i haue pån terje,fb,5,3,3,5,5

In [3]:
len(df)

200

In [4]:
len(df_off)

100

In [5]:
df.vilde      = df.vilde.apply(int)
df.kristoffer = df.kristoffer.apply(int)
df.sondre     = df.sondre.apply(int)
df.mathias    = df.mathias.apply(int)
df.category   = df.category.apply(int)

In [6]:
df_off.vilde      = df_off.vilde.apply(int)
df_off.kristoffer = df_off.kristoffer.apply(int)
df_off.sondre     = df_off.sondre.apply(int)
df_off.mathias    = df_off.mathias.apply(int)
df_off.category   = df_off.category.apply(int)

## Fleiss Kappa

### Three annotators

All five classes (1-5)

In [7]:
list1 = df.sondre.values.tolist()
list1 = list(map(int, list1))

list2 = df.mathias.values.tolist()
list2 = list(map(int, list2))

list3 = df.vilde.values.tolist()
list3 = list(map(int, list3))

In [8]:
taskdata=[[0,str(i),str(list1[i])] for i in range(0,len(list1))]+[[1,str(i),str(list2[i])] for i in range(0,len(list2))]+[[2,str(i),str(list3[i])] for i in range(0,len(list3))]
ratingtask = agreement.AnnotationTask(data=taskdata)
#print("kappa " +str(ratingtask.kappa())) - gir ikke mening for tre annotators
print("fleiss " + str(ratingtask.multi_kappa()))
print("alpha " +str(ratingtask.alpha()))
print("scotts " + str(ratingtask.pi()))

fleiss 0.3590874345857591
alpha 0.3577892314047961
scotts 0.356717093226841

Only offensive classes (2-5)

In [9]:
list1 = df_off.sondre.values.tolist()
list1 = list(map(int, list1))

list2 = df_off.mathias.values.tolist()
list2 = list(map(int, list2))

list3 = df_off.vilde.values.tolist()
list3 = list(map(int, list3))

In [10]:
taskdata=[[0,str(i),str(list1[i])] for i in range(0,len(list1))]+[[1,str(i),str(list2[i])] for i in range(0,len(list2))]+[[2,str(i),str(list3[i])] for i in range(0,len(list3))]
ratingtask = agreement.AnnotationTask(data=taskdata)
#print("kappa " +str(ratingtask.kappa())) - gir ikke mening for tre annotators
print("fleiss " + str(ratingtask.multi_kappa()))
print("alpha " +str(ratingtask.alpha()))
print("scotts " + str(ratingtask.pi()))

fleiss 0.2693661971830987
alpha 0.2629562531555344
scotts 0.26049122390187407

### Five annotators

All five classes (1-5)

In [11]:
list1 = df.sondre.values.tolist()
list1 = list(map(int, list1))

list2 = df.mathias.values.tolist()
list2 = list(map(int, list2))

list3 = df.vilde.values.tolist()
list3 = list(map(int, list3))

list4 = df.kristoffer.values.tolist()
list4 = list(map(int, list3))

list5 = df.category.values.tolist()
list5 = list(map(int, list3))

In [12]:
taskdata=[[0,str(i),str(list1[i])] for i in range(0,len(list1))]+[[1,str(i),str(list2[i])] for i in range(0,len(list2))]+[[2,str(i),str(list3[i])] for i in range(0,len(list3))] +[[3,str(i),str(list1[i])] for i in range(0,len(list4))] +[[4,str(i),str(list1[i])] for i in range(0,len(list5))]
ratingtask = agreement.AnnotationTask(data=taskdata)



#print("kappa " +str(ratingtask.kappa())) - gir ikke mening for tre annotators
print("fleiss " + str(ratingtask.multi_kappa()))
print("alpha " +str(ratingtask.alpha()))
print("scotts " + str(ratingtask.pi()))

fleiss 0.5686082116695707
alpha 0.568424851084592
scotts 0.5679928439285205

Only offensive classes (2-5)

In [13]:
list1 = df_off.sondre.values.tolist()
list1 = list(map(int, list1))

list2 = df_off.mathias.values.tolist()
list2 = list(map(int, list2))

list3 = df_off.vilde.values.tolist()
list3 = list(map(int, list3))

list4 = df_off.kristoffer.values.tolist()
list4 = list(map(int, list3))

list5 = df_off.category.values.tolist()
list5 = list(map(int, list3))

In [14]:
taskdata=[[0,str(i),str(list1[i])] for i in range(0,len(list1))]+[[1,str(i),str(list2[i])] for i in range(0,len(list2))]+[[2,str(i),str(list3[i])] for i in range(0,len(list3))] +[[3,str(i),str(list1[i])] for i in range(0,len(list4))] +[[4,str(i),str(list1[i])] for i in range(0,len(list5))]
ratingtask = agreement.AnnotationTask(data=taskdata)



#print("kappa " +str(ratingtask.kappa())) - gir ikke mening for tre annotators
print("fleiss " + str(ratingtask.multi_kappa()))
print("alpha " +str(ratingtask.alpha()))
print("scotts " + str(ratingtask.pi()))

fleiss 0.49243918474687726
alpha 0.49088631149360884
scotts 0.48986604358077046

## Percentage Agreement

### All five classes 3 annotators

In [15]:
similar = df.loc[(df.vilde == df.mathias) & (df.vilde == df.sondre) ]
similar.shape[0]/df.shape[0]*100

73.5

In [16]:
similar['vilde'].value_counts(dropna=False)

1    142
2      5
Name: vilde, dtype: int64

In [17]:
five  = df.loc[(df.vilde == 5) | (df.mathias == 5) | (df.sondre == 5)]
four  = df.loc[(df.vilde == 4) | (df.mathias == 4) | (df.sondre == 4)]
three = df.loc[(df.vilde == 3) | (df.mathias == 3) | (df.sondre == 3)]
two   = df.loc[(df.vilde == 2) | (df.mathias == 2) | (df.sondre == 2)]
one   = df.loc[(df.vilde == 1) | (df.mathias == 1) | (df.sondre == 1)]

Full agreement

In [18]:
142/one.shape[0]*100

74.3455497382199

In [19]:
5/two.shape[0]*100

9.433962264150944

In [20]:
# 0

In [21]:
# 0

In [22]:
# 0

Majority agreement

In [23]:
two_similar = df.loc[(df.vilde == df.mathias) | (df.vilde == df.sondre) | (df.sondre == df.mathias)]

In [24]:
two_similar.shape[0]/df.shape[0]*100

98.5

In [25]:
two_similar.loc[(two_similar.vilde == two_similar.sondre) |
                (two_similar.vilde == two_similar.mathias), 'similar_category'] = two_similar.vilde
two_similar.loc[two_similar.sondre == two_similar.mathias, 'similar_category'] = two_similar.sondre

In [26]:
two_similar['similar_category'].value_counts(dropna=False)

1.0    168
2.0     27
3.0      2
Name: similar_category, dtype: int64

In [27]:
168/one.shape[0]*100

87.95811518324608

In [28]:
27/two.shape[0]*100

50.943396226415096

In [29]:
2/three.shape[0]*100

25.0

In [30]:
# 0

In [31]:
# 0

### Offensive classes 3 annotators

Full agreement

In [32]:
one   = df_off.loc[(df_off.vilde == 1) | (df_off.mathias == 1) | (df_off.sondre == 1)]
five  = df_off.loc[(df_off.vilde == 5) | (df_off.mathias == 5) | (df_off.sondre == 5)]
four  = df_off.loc[(df_off.vilde == 4) | (df_off.mathias == 4) | (df_off.sondre == 4)]
three = df_off.loc[(df_off.vilde == 3) | (df_off.mathias == 3) | (df_off.sondre == 3)]
two   = df_off.loc[(df_off.vilde == 2) | (df_off.mathias == 2) | (df_off.sondre == 2)]

In [33]:
similar = df_off.loc[(df_off.vilde == df_off.mathias) & (df_off.vilde == df_off.sondre) ]
similar.shape[0]/df.shape[0]*100

12.5

In [34]:
similar['vilde'].value_counts(dropna=False)

4    11
2     6
3     5
5     3
Name: vilde, dtype: int64

In [35]:
6/two.shape[0]*100

12.244897959183673

In [36]:
5/three.shape[0]*100

8.47457627118644

In [37]:
11/four.shape[0]*100

21.568627450980394

In [38]:
3/five.shape[0]*100

13.043478260869565

In [39]:
# 0

Majority agreement

In [40]:
two_similar = df_off.loc[(df_off.vilde == df_off.mathias) | (df_off.vilde == df_off.sondre) | (df_off.sondre == df_off.mathias)]

In [41]:
two_similar.loc[(two_similar.vilde == two_similar.sondre) |
                (two_similar.vilde == two_similar.mathias), 'similar_category'] = two_similar.vilde
two_similar.loc[two_similar.sondre == two_similar.mathias, 'similar_category'] = two_similar.sondre

In [42]:
two_similar.shape[0]/df_off.shape[0]*100

84.0

In [43]:
two_similar['similar_category'].value_counts(dropna=False)

3.0    25
4.0    24
2.0    21
5.0    12
1.0     2
Name: similar_category, dtype: int64

In [44]:
2/one.shape[0]*100

22.22222222222222

In [45]:
21/two.shape[0]*100

42.857142857142854

In [46]:
25/three.shape[0]*100

42.3728813559322

In [47]:
24/four.shape[0]*100

47.05882352941176

In [48]:
12/five.shape[0]*100

52.17391304347826

### All five classes 5 annotators

In [49]:
five  = df.loc[(df.vilde == 5) | (df.mathias == 5) | (df.sondre == 5) |(df.kristoffer == 5)| (df.category == 5)]
four  = df.loc[(df.vilde == 4) | (df.mathias == 4) | (df.sondre == 4) |(df.kristoffer == 4)| (df.category == 4)]
three = df.loc[(df.vilde == 3) | (df.mathias == 3) | (df.sondre == 3) |(df.kristoffer == 3)| (df.category == 3)]
two   = df.loc[(df.vilde == 2) | (df.mathias == 2) | (df.sondre == 2) |(df.kristoffer == 2)| (df.category == 2)]
one   = df.loc[(df.vilde == 1) | (df.mathias == 1) | (df.sondre == 1) |(df.kristoffer == 1)| (df.category == 1)]

Full agreement

In [50]:
similar = df.loc[(df.vilde == df.mathias) & (df.vilde == df.sondre) & (df.vilde == df.kristoffer) & (df.vilde == df.category) ]
similar.shape[0]/df.shape[0]*100

63.5

In [51]:
similar['category'].value_counts(dropna=False)

1    127
Name: category, dtype: int64

In [52]:
127/one.shape[0]*100

64.79591836734694

Majority agreement

In [53]:
two_similar.loc[(two_similar.vilde == two_similar.sondre) |
                (two_similar.vilde == two_similar.mathias), 'similar_category'] = two_similar.vilde
two_similar.loc[two_similar.sondre == two_similar.mathias, 'similar_category'] = two_similar.sondre

### Offensive classes 5 annotators

Full agreement

Majority agreement

# Analysis

In [54]:
df["avg"] = (df.vilde + df.sondre + df.mathias)/3
df_off["avg"] = (df.vilde + df.sondre + df.mathias)/3

In [55]:
len(df[df.avg < df.category])/len(df)

0.16

In [56]:
len(df[df.avg > df.category])/len(df)

0.155

In [57]:
len(df_off[df_off.avg < df_off.category])/len(df_off)

1.0

In [58]:
len(df_off[df_off.avg > df_off.category])/len(df_off)

0.0

In [59]:
#df_off[df_off.avg < df_off.category]

In [60]:
df_off

,id,text,source,category,sondre,mathias,vilde,kristoffer,avg
0,10667,De er helt ute og kjøre dette partiet Når ett ...,fb,2,1,3,2,2,1.000000
1,10817,Knall ein biff i haue pån terje,fb,5,3,3,5,5,1.333333
2,4679351020,EnIg. Det finnes ikke moderate muslimer.,rs,4,4,4,4,3,1.000000
3,4660257108,hjelper ikke på vold og kriminell statistikken...,rs,5,4,5,2,2,2.000000
4,1228671547772108801,Navn Navn Så du mener islam bidrar positivt i ...,tw,4,4,4,4,4,1.000000
...,...,...,...,...,...,...,...,...,...
95,4576,"Navn Navn Navn - ja, og hvis man er redd for å...",fb,2,2,4,2,2,1.000000
96,4662622571,Re:1% til USA. Pass på at du ikke har falt for...,rs,4,3,4,2,2,1.000000
97,2867,Hijab eller andre religiøse symboler/klesplagg...,fb,4,2,4,4,3,1.000000
98,1214694314628042755,Kongefamilien blir dummere og dummere. Det nye...,tw,3,3,3,4,4,1.000000
99,4678102069,Hun bær la seg omskjære i solidaritet med alle...,rs,3,3,3,3,3,1.000000

## Classwise Observations

In [61]:
df_off["avg"] = (df_off.vilde + df_off.mathias + df_off. sondre)/3

In [62]:
prov = df_off.loc[df_off.category == 2]
off = df_off.loc[df_off.category == 3]
mod = df_off.loc[df_off.category == 4]
hat = df_off.loc[df_off.category == 5]

In [63]:
print("Averaged prov labeled as more offensive:",len(prov.loc[prov.avg > 2])/len(prov))
print("Averaged prov labeled as less offensive:", len(prov.loc[prov.avg < 2])/len(prov))

Averaged prov labeled as more offensive: 0.72
Averaged prov labeled as less offensive: 0.08

In [64]:
print("Averaged off labeled as more offensive:",len(off.loc[off.avg > 3])/len(off))
print("Averaged off labeled as less offensive:", len(off.loc[off.avg < 3])/len(off))

Averaged off labeled as more offensive: 0.28
Averaged off labeled as less offensive: 0.52

In [65]:
print("Averaged moderately hateful labeled as more offensive:",len(mod.loc[mod.avg > 4])/len(mod))
print("Averaged moderately hateful labeled as less offensive:", len(mod.loc[mod.avg < 4])/len(mod))

Averaged moderately hateful labeled as more offensive: 0.0
Averaged moderately hateful labeled as less offensive: 0.68

In [66]:
print("Averaged hateful labeled as more offensive:",len(hat.loc[hat.avg > 5])/len(hat))
print("Averaged hateful labeled as less offensive:", len(hat.loc[hat.avg < 5])/len(hat))

Averaged hateful labeled as more offensive: 0.0
Averaged hateful labeled as less offensive: 0.88

## Hateful

In [67]:
hat

,id,text,source,category,sondre,mathias,vilde,kristoffer,avg
1,10817,Knall ein biff i haue pån terje,fb,5,3,3,5,5,3.666667
3,4660257108,hjelper ikke på vold og kriminell statistikken...,rs,5,4,5,2,2,3.666667
11,1216628051745951745,iranerne vil ikke ha en dritt å gjøre med isla...,tw,5,5,5,5,4,5.000000
17,4678430862,"Ellers kan de dra tilbake til ""the shit holes""...",rs,5,4,5,3,3,4.000000
18,4660091180,Skal si vi har kommet langt når folk må holde ...,rs,5,4,4,2,2,3.333333
22,4662831768,Ut...Med hele fam.Det er det eneste de forstår...,rs,5,5,5,2,3,4.000000
23,1227702763473252352,"Hele kirka påstår nå at de har snudd,akkurat s...",tw,5,5,4,5,5,4.666667
24,11184,Er ikke det terrorsvinet blitt utlevert enda? 👀😡,fb,5,4,5,3,3,4.000000
28,4659434469,Send ungdommene med enveisbilett til en korans...,rs,5,3,5,5,5,4.333333
42,1231594352151089153,Navn Navn Navn Navn Navn Spekulasjon i hva som...,tw,5,4,4,4,4,4.000000
45,4661207608,Woo hooo!!Vi kan bruke statens pensjonsfond fo...,rs,5,5,5,5,5,5.000000
46,4660545676,"Vi ser ikke bare hva som skjer her hjemme, men...",rs,5,5,4,3,3,4.000000
53,1222669174322929670,Navn Til hhhh få de sendt tilbake indoktrinert...,tw,5,5,4,4,5,4.333333
54,4679835464,Hvem er personen i blått..mann eller kvinne..?...,rs,5,5,4,4,5,4.333333
55,4683597752,Jernteppet og den påfølgende lave levestandare...,rs,5,4,4,4,4,4.000000
58,1217949465417592832,"Navn Navn Når du trenes opp i bomber, kutter. ...",tw,5,5,5,5,5,5.000000
62,4680002809,Ja dette syns jeg må gjøre noe med. Erna må se...,rs,5,5,4,5,5,4.666667
64,3099,Navn Navn dette avskyelige damemenneske reiste...,fb,5,3,3,4,4,3.333333
66,4685066950,Norge burde sende hjem alle tyrkere det er ikk...,rs,5,5,5,4,5,4.666667
74,4684429089,Veks barnet opp til å verta ein heterofil musl...,rs,5,5,5,4,4,4.666667
77,4685118364,Enig. Ta en dna test og send dem på huet og ræ...,rs,5,5,5,3,3,4.333333
78,4680657760,Send de tilbake sporenstreks. Men svar på en t...,rs,5,5,5,3,3,4.333333
85,4659740883,For guds skyld la det skje med en eller helst ...,rs,5,5,3,5,3,4.333333
89,9733,"Ja, det er på tide å sende disse immigrantene ...",fb,5,3,5,3,3,3.666667
91,9743,Send ned en lærer så kan de lære språket før d...,fb,5,4,4,3,3,3.666667

In [98]:
df_off.loc[df_off.text == "er du dyselektiker?"]

,id,text,source,category,sondre,mathias,vilde,kristoffer,avg
71,6745,er du dyselektiker?,fb,3,1,3,1,1,1.666667

In [100]:
df_off.loc[df_off.text == "Navn Navn Navn Du mener så at Syria skal ta seg av norske terrorister. Det gidder de selvfølgelig ikke, på samme måte som vi sender utenlandske kriminelle hjem til der de kommer fra"]

,id,text,source,category,sondre,mathias,vilde,kristoffer,avg
39,7802,Navn Navn Navn Du mener så at Syria skal ta se...,fb,4,3,4,2,2,3.0

In [358]:
df_off.loc[ (df_off.category == 5) &(df_off.vilde ==5) & (df.sondre == 5) & (df.mathias == 5)]

Empty DataFrame
Columns: [id, text, source, category, sondre, mathias, vilde, kristoffer, avg]
Index: []

In [93]:
test = df_off.loc[(df_off.vilde != df_off.sondre ) & (df_off.vilde != df_off.mathias) & (df_off.sondre != df_off.mathias) ]

In [83]:
len(test)

16

In [96]:
for text in test.text:
    print(text)
    print("------")

De er helt ute og kjøre dette partiet Når ett parti som oppfører seg slik som mdg gjør mot sitt eget folk, så minner det mye om andre stater hvor statsledere har trødd på sitt folk og vi vet hvordan det har gått Jeg snakket med noen som kalte Mdg for miljøpartiet de gale🙁
------
hjelper ikke på vold og kriminell statistikken før de stopper beriking og begynner å kaste terroristene ut av øyene.
------
Ellers kan de dra tilbake til "the shit holes" de kom fra.
------
Navn Navn Du er dessverre ikke alene, som byrde for samfunnet, med selvvalgte lidelser og plager og ønske om å lyge om alt, bare ville være hjemme og helst ikke bidra med noe som helst til felleskassen....
------
Å plyndre land for rikdommer og kultur skatter. Er også så ytre høyre at det er nøyaktig det samme som Hitler gjorde. Å hate dadaismen er også hitleriansk ytre høyre
------
Er ikke det terrorsvinet blitt utlevert enda? 👀😡
------
Når kommer endelig MASKULINISME som svar på den derre feminisme kjønnskrigen!
------
Navn Navn Navn Du mener så at Syria skal ta seg av norske terrorister. Det gidder de selvfølgelig ikke, på samme måte som vi sender utenlandske kriminelle hjem til der de kommer fra
------
Vi ser ikke bare hva som skjer her hjemme, men også hva som skjer der de kommer ifra. Konklusjonen er at hjemlandene deres er den rette plassen for dem.
------
Navn et godt eksempel på fake news det du skriver ja.. Basert på myter og usakligheter. Typisk sosialistisk å kaste fra seg meningsløse utsagn uten noen rot i virkeligheten
------
Oppsiktsvekkende og skammelig! Hva er det for et samfunn vi går til i fremtiden?
------
Innvandringspolitikk  se med bibelen heler ikke åpen dem ikke tro av noe så pass. Hun er norsk is men har bak i ryggen og på i hude løs. Det hun kan sitte i godt kontroll med deg men har bak arbeid vente hun åpne hus. Får dem satans sør Etiopia.
------
På HØY tid. Nå må FRP gå mot en klar nasjonalkonservativ retning igjen (ikke den veike, rosa, kjerring-politikken til Siv &amp; Co). Da vil de prege norsk politikk i fremtiden og trekke seg fra liberal globalistisk BS.  Make Norway Great Again!
------
På tide at politiet er like effektive med å ut transportere våre "nye landsmenn" som de var med han amerikaneren forrige uke.Han hverken rakk å si eller gjøre noe før han var arrestert.
------
Usensurert råsex med ung asiatisk jente
------
Re:1% til USA. Pass på at du ikke har falt for propaganda om somalierne i USA da. Antallet terrorister fra den gruppen er jo helt sammenlignbart med slike grupper her i Europa.
------

In [102]:
df_off[df_off.category == 5]

,id,text,source,category,sondre,mathias,vilde,kristoffer,avg
1,10817,Knall ein biff i haue pån terje,fb,5,3,3,5,5,3.666667
3,4660257108,hjelper ikke på vold og kriminell statistikken...,rs,5,4,5,2,2,3.666667
11,1216628051745951745,iranerne vil ikke ha en dritt å gjøre med isla...,tw,5,5,5,5,4,5.000000
17,4678430862,"Ellers kan de dra tilbake til ""the shit holes""...",rs,5,4,5,3,3,4.000000
18,4660091180,Skal si vi har kommet langt når folk må holde ...,rs,5,4,4,2,2,3.333333
22,4662831768,Ut...Med hele fam.Det er det eneste de forstår...,rs,5,5,5,2,3,4.000000
23,1227702763473252352,"Hele kirka påstår nå at de har snudd,akkurat s...",tw,5,5,4,5,5,4.666667
24,11184,Er ikke det terrorsvinet blitt utlevert enda? 👀😡,fb,5,4,5,3,3,4.000000
28,4659434469,Send ungdommene med enveisbilett til en korans...,rs,5,3,5,5,5,4.333333
42,1231594352151089153,Navn Navn Navn Navn Navn Spekulasjon i hva som...,tw,5,4,4,4,4,4.000000
45,4661207608,Woo hooo!!Vi kan bruke statens pensjonsfond fo...,rs,5,5,5,5,5,5.000000
46,4660545676,"Vi ser ikke bare hva som skjer her hjemme, men...",rs,5,5,4,3,3,4.000000
53,1222669174322929670,Navn Til hhhh få de sendt tilbake indoktrinert...,tw,5,5,4,4,5,4.333333
54,4679835464,Hvem er personen i blått..mann eller kvinne..?...,rs,5,5,4,4,5,4.333333
55,4683597752,Jernteppet og den påfølgende lave levestandare...,rs,5,4,4,4,4,4.000000
58,1217949465417592832,"Navn Navn Når du trenes opp i bomber, kutter. ...",tw,5,5,5,5,5,5.000000
62,4680002809,Ja dette syns jeg må gjøre noe med. Erna må se...,rs,5,5,4,5,5,4.666667
64,3099,Navn Navn dette avskyelige damemenneske reiste...,fb,5,3,3,4,4,3.333333
66,4685066950,Norge burde sende hjem alle tyrkere det er ikk...,rs,5,5,5,4,5,4.666667
74,4684429089,Veks barnet opp til å verta ein heterofil musl...,rs,5,5,5,4,4,4.666667
77,4685118364,Enig. Ta en dna test og send dem på huet og ræ...,rs,5,5,5,3,3,4.333333
78,4680657760,Send de tilbake sporenstreks. Men svar på en t...,rs,5,5,5,3,3,4.333333
85,4659740883,For guds skyld la det skje med en eller helst ...,rs,5,5,3,5,3,4.333333
89,9733,"Ja, det er på tide å sende disse immigrantene ...",fb,5,3,5,3,3,3.666667
91,9743,Send ned en lærer så kan de lære språket før d...,fb,5,4,4,3,3,3.666667